{% extends "main.html" %}

{% block head %}

    <title>Nested: Documents</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

{% endblock %}

{% block bar %}

    <input type="button" value="New" onclick='window.location.href="/new"'>

{% endblock %}

{% block menu %}
{% endblock %}

{% block document %}

    {% for document in documents %}
        <div>
            <a style='font-size: 14px' href='/documents/{{document.key().id()}}'>{{document.name}}</a>
            <br>
            <span style='font-size: 14px'>last modified on {{document.created.strftime("%b %d, %Y")}}</span>
        </div>
    {% endfor %}
 
{% endblock %}
