{% extends "welcome.html" %}

{% block head %}

    <title>Nested: Login</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

{% endblock %}

{% block welcome %}

    <div style='margin-top: 30px'>
        
        <img border="0" align='left' src="http://img33.imageshack.us/img33/6242/eazkwvmphd.png" alt="Pulpit rock" width="304" height="228">

        <div style='font-size: 20px'>Welcome back!</div>
        <hr>
        <div style='font-size: 14px'>Don't have an account yet? <a href='/register'>Sign up</a></div>
        <hr>
        <form id="formId" method="post">
            <input id='fieldId' type="text" name="username" placeholder="Username" value="">
            <span style='font-size: 14px; color: red;'>{{error}}</span><br>
            <input type="password" name="password" placeholder="Password" value="">
            <input type="submit" value="Sign in">
        </form>
        <script type="text/javascript">formId.fieldId.focus();</script>

    </div>

{% endblock %}
