{% extends "main.html" %}

{% block head %}

    <title>Nested: New document</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src='/js/script.js'></script>

{% endblock %}

{% block bar %}

    <button id='buttonToSaveDocument'>Save </button>

{% endblock %}

{% block menu %}

    <ul>
        <div id='instructions'>Click to select</div> 
        <li>
            <div id='insert'>Insert a block</div>
            <button id='buttonToInsertAfter'>After</button>
            <button id='buttonToInsertInside'>Inside</button>
        </li>
        <li><br></li>
        <li>
            <div id='delete'>Delete a block</div>
            <button id='buttonToDelete'>Delete</button>
        </li>
        <li><br></li>
        <li>
            <div id='edit'>Edit the content</div>
            <textarea id="TitleArea" onfocus="this.placeholder='Title';"></textarea>
            <textarea id="TextArea" onfocus="this.placeholder='Text';"></textarea>
        </li>
        <script type='text/javascript'>$('#TitleArea').focus()</script>
        <li>
            <button id='buttonToEdit'>Edit</button>
        </li>
    </ul>

{% endblock %}

{% block document %}

    <div id='first' class='selected'>
        <h2 class='name'></h2>
        <p class='description'></p>
    </div>
   
{% endblock %}


